<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org"
      xml:lang="en"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dynamic Panel</title>
</head>
<body>
<wicket:panel>
    <wicket:container wicket:id="rows">
        <div class="modal-body row mt-3" wicket:id="row">
            <wicket:container wicket:id="columns">
                <div class="col" wicket:id="column">
                    <wicket:container wicket:id="fragment"/>
                </div>
            </wicket:container>
        </div>
    </wicket:container>
    <wicket:fragment wicket:id="inputFragment">
        <label wicket:id="inputLabel" class="form-label"></label>
        <input class="form-control" type="text" wicket:id="content">
    </wicket:fragment>
    <wicket:fragment wicket:id="defaultFragment">
        <div wicket:id="content"></div>
    </wicket:fragment>
    <wicket:fragment wicket:id="buttonFragment">
        <button wicket:id="content" type="button"></button>
    </wicket:fragment>
    <wicket:fragment wicket:id="imageFragment">
        <img wicket:id="content"></img>
    </wicket:fragment>
</wicket:panel>
</body>
</html>